Practica3/web/WEB-INF/wsdl/ServicioImagenes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://imagenes.me.org/" name="servicioImagenes" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://imagenes.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsp:Policy wsu:Id="servicioImagenesPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization wsp:Optional="true" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://imagenes.me.org/" schemaLocation="ServicioImagenes_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="RegisterImage">
    <part name="parameters" element="tns:RegisterImage"/>
  </message>
  <message name="RegisterImageResponse">
    <part name="parameters" element="tns:RegisterImageResponse"/>
  </message>
  <message name="SearchbyCreatDate">
    <part name="parameters" element="tns:SearchbyCreatDate"/>
  </message>
  <message name="SearchbyCreatDateResponse">
    <part name="parameters" element="tns:SearchbyCreatDateResponse"/>
  </message>
  <message name="SearchbyTitle">
    <part name="parameters" element="tns:SearchbyTitle"/>
  </message>
  <message name="SearchbyTitleResponse">
    <part name="parameters" element="tns:SearchbyTitleResponse"/>
  </message>
  <message name="ModifyImage">
    <part name="parameters" element="tns:ModifyImage"/>
  </message>
  <message name="ModifyImageResponse">
    <part name="parameters" element="tns:ModifyImageResponse"/>
  </message>
  <message name="SearchbyId">
    <part name="parameters" element="tns:SearchbyId"/>
  </message>
  <message name="SearchbyIdResponse">
    <part name="parameters" element="tns:SearchbyIdResponse"/>
  </message>
  <message name="DeleteImage">
    <part name="parameters" element="tns:DeleteImage"/>
  </message>
  <message name="DeleteImageResponse">
    <part name="parameters" element="tns:DeleteImageResponse"/>
  </message>
  <message name="SearchbyAuthor">
    <part name="parameters" element="tns:SearchbyAuthor"/>
  </message>
  <message name="SearchbyAuthorResponse">
    <part name="parameters" element="tns:SearchbyAuthorResponse"/>
  </message>
  <message name="SearchbyKeywords">
    <part name="parameters" element="tns:SearchbyKeywords"/>
  </message>
  <message name="SearchbyKeywordsResponse">
    <part name="parameters" element="tns:SearchbyKeywordsResponse"/>
  </message>
  <message name="ListImages">
    <part name="parameters" element="tns:ListImages"/>
  </message>
  <message name="ListImagesResponse">
    <part name="parameters" element="tns:ListImagesResponse"/>
  </message>
  <message name="DownloadImage">
    <part name="parameters" element="tns:DownloadImage"/>
  </message>
  <message name="DownloadImageResponse">
    <part name="parameters" element="tns:DownloadImageResponse"/>
  </message>
  <message name="SearchComb">
    <part name="parameters" element="tns:SearchComb"/>
  </message>
  <message name="SearchCombResponse">
    <part name="parameters" element="tns:SearchCombResponse"/>
  </message>
  <portType name="servicioImagenes">
    <operation name="RegisterImage">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/RegisterImageRequest" message="tns:RegisterImage"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/RegisterImageResponse" message="tns:RegisterImageResponse"/>
    </operation>
    <operation name="SearchbyCreatDate">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyCreatDateRequest" message="tns:SearchbyCreatDate"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyCreatDateResponse" message="tns:SearchbyCreatDateResponse"/>
    </operation>
    <operation name="SearchbyTitle">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
    </operation>
    <operation name="ModifyImage">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/ModifyImageRequest" message="tns:ModifyImage"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/ModifyImageResponse" message="tns:ModifyImageResponse"/>
    </operation>
    <operation name="SearchbyId">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyIdRequest" message="tns:SearchbyId"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
    </operation>
    <operation name="DeleteImage">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/DeleteImageRequest" message="tns:DeleteImage"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/DeleteImageResponse" message="tns:DeleteImageResponse"/>
    </operation>
    <operation name="SearchbyAuthor">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
    </operation>
    <operation name="SearchbyKeywords">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
    </operation>
    <operation name="ListImages">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/ListImagesRequest" message="tns:ListImages"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/ListImagesResponse" message="tns:ListImagesResponse"/>
    </operation>
    <operation name="DownloadImage">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/DownloadImageRequest" message="tns:DownloadImage"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/DownloadImageResponse" message="tns:DownloadImageResponse"/>
    </operation>
    <operation name="SearchComb">
      <input wsam:Action="http://imagenes.me.org/servicioImagenes/SearchCombRequest" message="tns:SearchComb"/>
      <output wsam:Action="http://imagenes.me.org/servicioImagenes/SearchCombResponse" message="tns:SearchCombResponse"/>
    </operation>
  </portType>
  <binding name="servicioImagenesPortBinding" type="tns:servicioImagenes">
    <wsp:PolicyReference URI="#servicioImagenesPortBinding_MTOM_Policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RegisterImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchbyCreatDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchbyTitle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchbyId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchbyAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchbyKeywords">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListImages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DownloadImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchComb">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="servicioImagenes">
    <port name="servicioImagenesPort" binding="tns:servicioImagenesPortBinding">
      <soap:address location="http://localhost:8080/Practica3/servicioImagenes"/>
    </port>
  </service>
</definitions>

